@charset "UTF-8";

/*
    Paleta de Cores
    Azul Pastel: #CEDCF8
    Azul Acinzentado: #B4CAD9
    Azul Gelo: #D2EBEF
    Verde Água Suave: #B4D9D4
    Verde Menta Claro: #CEF8E6
*/

    @import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
    :root {

    --fonte-login: "Poppins", sans-serif;
        
    }

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #B4CAD9; /*Azul Acinzentado x*/
    height: 100vh; 
}    

main {
    position: relative;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 1000px;
    height: 550px;
    border-radius: 20px;
    display: flex; 
    overflow: hidden;
   
    width: 90%;
    max-width: 1000px;
    min-height: 550px;
    
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

section#login > div#imagem {
    width: 50%;
    background: url(../imagens/imagem-esquerda-login.jpg);
    background-size: cover;
    background-position: center;
}

div#imagem {
    display: flex;
    flex-direction: column; 
    justify-content: center; /* centraliza verticalmente */
    align-items: center;     /* centraliza horizontalmente */
    color: white;
    text-align: center;
}


.texto-imagem {
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7); /* sombra no texto */
    white-space: nowrap; /* mantém na mesma linha */
}

.texto-imagem h2 {
    font-family: var(--fonte-login);
    font-size: 36px;
    margin: 0;
}

.texto-imagem p {
    font-family: var(--fonte-login);
    font-size: 18px;
    margin: 0;
}

div#formulario{
    width: 50%;
    padding: 60px;
    border-radius: 0 20px 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza verticalmente */
}

div#formulario > h1 {
    font-family: var(--fonte-login);
    text-align: center;
    margin-bottom: -30px;
    padding: 20%;

}

div.campo{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

div.campo input{
    width: 90%;
    height: 45px;
    padding-left: 40px; /* espaço para o ícone */
    font-size: 16px;
}

.icone{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: gray;
}

.opcoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.opcoes > label {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.opcoes a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-right: 35px;
}

.opcoes a:hover{
    color: blue;
    text-decoration: underline;
}

.botao-login{
    width: 90%;
    height: 45px;
    background-color: #B4CAD9; /* azul da sua paleta */
    border: none;
    border-radius: 8px;
    font-family: var(--fonte-login);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.botao-login:hover{
    background-color: #9fb8ca;
}

.criar-conta{
    font-family: var(--fonte-login);
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

.criar-conta a{
    text-decoration: none;
    color: #4a7aa3;
    font-weight: 500;
}

.criar-conta a:hover{
    text-decoration: underline;
}